<div class="row">
	<div class="col-md-6 col-offset-3 text-centre">

		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render 'shared/devisemessages' %>

		  <div class="form-group">
		    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Send me reset password instructions", :class => "btn btn-danger" %>
		  </div>
		<% end %>

	</div>
</div>