<%= form_for([@room, @room.reviews.new]) do |f|  %>
	
	<div id="rating_stars"></div>
	<%= f.text_field :comment %>

	<%= f.hidden_field :room_id, value: @room.id %>

	<div class="actions">
		<%= f.submit "Create" %>
	</div>
<% end %>

<script>
	$('#rating_stars').raty({
		path: '/assets',
		scoreName: 'review[star]',
		score: 1
	});
</script>
